# Global
*~

# SQUAWK
*.preprocessed
*.sym
*.log
/squawk/*/preprocessed/
/squawk/*/classes/
/squawk/build/
/squawk/*/retro/
/squawk/*/j2meclasses/
/squawk/*/phoneme/
/squawk/*.suite.*
/squawk/*.suite
/squawk/*.suite
/squawk/*.jar
/squawk/*/*.jar
/squawk/java.ld
/squawk/suite_addr.txt
!/tools/*.jar
/squawk/vmcore/src/vm/address.c
/squawk/vmcore/src/vm/buildflags.h
/squawk/vmcore/src/vm/bytecodes.c
/squawk/vmcore/src/vm/cio.c
/squawk/vmcore/src/vm/fp/e_acos.c
/squawk/vmcore/src/vm/fp/e_asin.c
/squawk/vmcore/src/vm/fp/e_atan2.c
/squawk/vmcore/src/vm/fp/e_exp.c
/squawk/vmcore/src/vm/fp/e_fmod.c
/squawk/vmcore/src/vm/fp/e_log.c
/squawk/vmcore/src/vm/fp/e_pow.c
/squawk/vmcore/src/vm/fp/global.c
/squawk/vmcore/src/vm/fp/s_atan.c
/squawk/vmcore/src/vm/fp/s_nan.c
/squawk/vmcore/src/vm/lisp2.c
/squawk/vmcore/src/vm/memory.c
/squawk/vmcore/src/vm/platform.h
/squawk/vmcore/src/vm/rom.h
/squawk/vmcore/src/vm/rom.c
/squawk/vmcore/src/vm/squawk.c
/squawk/vmcore/src/vm/suite.c
/squawk/vmcore/src/vm/switch.c
/squawk/vmcore/src/vm/trace.c
/squawk/vmcore/src/vm/util.h
/squawk/vmcore/src/vm/vm2c.c
/squawk/vmcore/src/vm/vm2c.c.spp
/squawk/doc/master.properties

# Formic-apps and Formic-tests
/formic-apps/*/classes/
/formic-tests/*/classes/